### Gradle ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Node ###
node_modules/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java ###
*.class
*.jar
*.war
*.ear

### Build Output ###
/target/

### Logs ###
*.log
hs_err_pid*.log

### OS/Editor Backup Files ###
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.swo
*~
*.tmp

### Env Files ###
.env
.env.*
