@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap");

:root {
	--light-cyan: hsl(193, 38%, 86%);
	--neon-green: hsl(150, 100%, 66%);
	--grayish-blue: hsl(217, 19%, 38%);
	--dark-grayish-blue: hsl(217, 19%, 24%);
	--dark-blue: hsl(218, 23%, 16%);
	--font-Manrope: "Manrope", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 28px;
	background-color: var(--dark-blue);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 40px;
	width: 28rem;
	border-radius: 10px;
	background-color: var(--dark-grayish-blue);
	font-family: var(--font-Manrope);
	font-weight: 800;
}

.container span {
	color: var(--neon-green);
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-size: 12px;
	margin-bottom: 20px;
}

.container p {
	text-align: center;
	color: var(--light-cyan);
	margin-bottom: 15px;
}

.divider {
	margin: 20px 0;
}

.dice {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	cursor: pointer;
	width: 64px;
	height: 64px;
	bottom: -32px;
	border-radius: 50%;
	background-color: var(--neon-green);
}

.dice:hover {
	box-shadow: 0 0 15px 5px var(--neon-green);
}
