@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;0,500;0,600;0,700;0&display=swap");

:root {
	--Red: hsl(0, 100%, 74%);
	--Green: hsl(154, 59%, 51%);
	--Blue: hsl(248, 32%, 49%);
	--White: hsl(0, 0%, 100%);
	--dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--Red);
	background-image: url("./images/bg-intro-desktop.png");
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-size: 1.2rem;
}

.container {
	display: flex;
	margin: 0 22rem;
}

.text-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
}
.text-content h2 {
	color: var(--White);
	font-size: 3rem;
	font-weight: 700;
	width: 80%;
}
.text-content p {
	margin-top: 2rem;
	color: var(--White);
	font-weight: 500;
	line-height: 26px;
	word-wrap: break-word;
	width: 80%;
}

.form {
	width: 45%;
}

.trial {
	display: flex;
	justify-content: center;
	background-color: var(--Blue);
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.13);
	height: 3.5rem;
}
.trial span {
	display: flex;
	align-items: center;
	color: var(--White);
	font-weight: 600;
}
.trial p {
	font-weight: 500;
	font-size: 14px;
}

form {
	background-color: var(--White);
	border-radius: 10px;
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.13);
	display: flex;
	flex-direction: column;
	padding: 40px 50px;
}
form .inputWrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
form input {
	border: none;
	border-radius: 5px;
	height: 3.8rem;
	padding-left: 1rem;
	font-weight: 600;
	font-size: 1rem;
	color: var(--dark-blue);
	margin-bottom: 6px;
}
form input:focus {
	outline: 0.3px solid var(--dark-blue);
}
.input.empty {
	border: 0.3px solid var(--Red);
	background-image: url("./images/icon-error.svg");
	background-repeat: no-repeat;
	background-position: right 15px center;
}
form .inputTxt {
	text-align: end;
	color: var(--Red);
	font-size: 0.7rem;
}
.submitBtn {
	background-color: var(--Green);
	color: var(--White);
	text-transform: uppercase;
	box-shadow: 0 3px 0 0 hsl(154, 56%, 45%);
	border: none;
	word-spacing: 0.2rem;
	font-weight: 500;
	text-align: center;
}
.submitBtn:focus {
	position: relative;
	outline: none;
	box-shadow: none;
	top: 3px;
}

.term {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	color: var(--grayish-blue);
	font-size: 10px;
	font-weight: 600;
}
.term p {
	color: var(--Red);
}
